<div class="demo-toolbar">
    <mat-toolbar color="primary" class="main-toolbar">
      <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button> -->

      <button mat-button>Обо мне</button>
      <!-- <button mat-button>Статьи</button> -->
      <button mat-button>Контакты</button>
      
    </mat-toolbar>

<div class="main-container">
  <div class="portrait" title=""></div>
  <div class="main-text">

    <h1>Психолог Каминская Анна Александровна
      </h1>
      <p>Я работаю в русле гештальт похода. Чутко и с уважением помогаю клиентам взять ответственность 
      за свою жизнь и получать от неё радость каждый день.Если у вас вопросы в теме отношений, 
      проблем в семье, потере смысла жизни, недовольства внешностью, невозможности добиться карьерных высот,
       апатии ко всему, страхи и сомнения, я помогу Вам осознать эти трудности и найти способы их разрешения. 
      </p>
      <!-- <h2>Стоимость консультации: Очно - 60 мин - 2000 руб.; Skype - 2000 рублей . -60 мин.</h2> -->
      <div class="cell-item"><mat-icon class="mat-icon">phone</mat-icon> <a href="tel:+79032684208">+7 (903) 268 42 08</a></div>
      <div class="cell-item"><span>Skype:</span> <a href="skype:cleo_ann">cleo_ann</a></div>

      <span><i class="mdi mdi-cellphone-android"></i></span>
  </div>
</div>
<div class="main-content">
  <h1>Обо мне</h1>
  <p>Я занимаюсь психологией более 10 лет: провожу семинары и вебинары по вопросам воспитания и обучения детей, консультирую индивидуально/пары по различным темам: отношения, кризисы в семье, проблемы с детьми, страхи, неуверенность в себе, деньги и карьера, стресс, напряжение и усталость, отсутствие желаний и целей, проблемы с самооценкой.
    Помогаю обрести уверенность в себе, выстроить отношения с противоположным полом, разобраться в страхах, тревогах, усталости и апатии к жизни, изучить ресурсы для своего дальнейшего развития и гармоничной жизни, преодолеть кризисные ситуации, просто повысить качество своей жизни.
    Работаю в русле гештальт психологии.
    При проведении консультаций я предлагаю клиенту возможность осознанного выбора в различных жизненных ситуациях и возможность творчески подойти к принятию нового опыта, который поможет клиенту строить свою жизнь так, как он хочет на данном жизненном этапе.
    Обращайтесь: пишите, звоните, используйте возможности демо-консультаций со мной. Почитайте отзывы тех, кто использовал эту возможность и получил новый опыт и возможности!
    С интересом и готовностью помочь - жду Вас!
    </p>
</div>